/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}


/* Styles text next to buttons */
.tab span {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  padding: 14px 16px;
}

.input {
	cursor: pointer;
	border: 2px solid #000;
	padding-top: 33px;
	padding-bottom: 6px;
	padding-right:5px;
	padding-left:5px;
}

.nonCharInput{
	cursor: pointer;
	border: 2px solid #000;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3px;
}


.tables {
	display: inline-block;
}

.operatorButtons {
	cursor: pointer;
	display: inline-block;
	vertical-align: top;
	padding: 6px; 
	border: 2px solid #DCDCDC;
}

.operatorButtons.active {
	border: 2px solid #000;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.errorMessage {
	color: red;
}